@{
    ViewData["Title"] = "Ski Shop";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ski Shop </h1>
    <p> </p>
</div>

<div >
    <div >
        <h2>Ski Shop  </h2>
        <p>
            Este locul specializat unde fiecare, iubitor de sporturi de iarna, poate sa vina sa isi aleaga
            infrastructura necesara pentu a putea incepe distractia din acest sezon.
        </p>
    </div>
</div>

<div>
    <div>
        <h3>Ce avem de oferit:</h3>
        <ol>
            <li>Skiuri</li>
            <li>Placi</li>
            <li>Clapari</li>
            <li>Boots</li>
            <li>Service de mentenata la echipamentul de iarna</li>
        </ol>
    </div>
</div> 

<p>Pentru mai multe informatii despre sporturile de iarna accesati </p> 
<a class="btn btn-primary" href="https://ro.wikipedia.org/wiki/Sport_de_iarn%C4%83">INFO IANRA!</a>
